*/temp*
#files and dis whos names start with temp in any immediate subdirectory of root
*/*/temp*
#files and dirs starting with any subdirectory that is two levels below the root
temp?
# One character extension
